#### Info
- need to download '!pip install opendatasets'
- Acquire data from .py file
- Need Kaggle api token
- For information on kaggle api visit this [link](https://www.analyticsvidhya.com/blog/2021/04/how-to-download-kaggle-datasets-using-jupyter-notebook/ "how to download kaggle dataset using jupyter notebook")

In [1]:
# May Need to install for data
# !pip install opendatasets

In [2]:
import pandas as pd
import numpy as np
import opendatasets as od
import os
import wrangle_o

In [3]:
wrangle_o.pull_data()

Olympic data pulled

In [4]:
bio = pd.read_csv('Olympic_Athlete_Bio.csv',keep_default_na=False)
er = pd.read_csv('Olympic_Athlete_Event_Results.csv')
res = pd.read_csv('Olympic_Results.csv')
country = pd.read_csv('Olympics_country.csv')
games = pd.read_csv('Olympics_Games.csv')
mt = pd.read_csv('Olympic_Games_Medal_Tally.csv')

In [5]:
olympics = wrangle_o.merge_data(bio, er, res, country, games)

Use df: 'olympics'

In [6]:
bio.isna().sum()

athlete_id       0
name             0
sex              0
born             0
height           0
weight           0
country          0
country_noc      0
description      0
special_notes    0
dtype: int64

In [7]:
olympics.head()

,athlete_id,name,sex,born,height,weight,country,country_noc_x,description,special_notes,edition,sport,event,result_id,medal,isTeamSport,result_participants,year,city,country_noc_y
0,14503,scar Giraldo,Male,1973-04-13,na,na,Colombia,COL,na,na,1996 Summer Olympics,Cycling Road,"Road Race, Individual, Men",154878,na,False,183 from 57 countries,1996.0,Atlanta,USA
1,58758,Hossein Mollaghasemi,Male,1933-03-15,173.0,63,Islamic Republic of Iran,IRI,Hossein Ebrahimian had the following finishes ...,Nephew of Mahmoud Mollaghasemi,1960 Summer Olympics,Wrestling,"Featherweight, Greco-Roman, Men",124658,na,False,25 from 25 countries,1960.0,Roma,ITA
2,58758,Hossein Mollaghasemi,Male,1933-03-15,173.0,63,Islamic Republic of Iran,IRI,Hossein Ebrahimian had the following finishes ...,Nephew of Mahmoud Mollaghasemi,1964 Summer Olympics,Wrestling,"Lightweight, Greco-Roman, Men",125396,na,False,19 from 19 countries,1964.0,Tokyo,JPN
3,90217,Enrico Lazzarotto,Male,1973-01-14,178.0,72,Italy,ITA,na,Listed in Olympians Who Won a Medal at the Eur...,2000 Summer Olympics,Canoe Slalom,"Kayak Singles, Slalom, Men",256271,na,False,23 from 18 countries,2000.0,Sydney,AUS
4,74565,John Hou,Male,1968-09-25,178.0,60,Papua New Guinea,PNG,Personal Best: 100 – 10.95 (1990).,na,1988 Summer Olympics,Athletics,"100 metres, Men",63261,na,False,102 from 69 countries,1988.0,Seoul,KOR

In [8]:
olympics.year.value_counts()

1992.0    17198
1988.0    15946
2020.0    14786
2000.0    14032
1996.0    13994
2008.0    13975
2016.0    13941
2004.0    13756
2012.0    13196
1972.0    12586
1984.0    12288
1968.0    11174
1976.0    10869
1952.0    10214
1964.0    10105
1960.0     9680
1980.0     9267
1936.0     8529
1948.0     8258
1924.0     7065
1956.0     6650
1928.0     6394
1912.0     5424
2022.0     5388
2018.0     5196
2014.0     4984
1920.0     4639
2010.0     4467
2006.0     4403
2002.0     4127
1932.0     4084
1908.0     4023
1998.0     3698
1994.0     3225
1900.0     3147
1904.0     3075
1896.0      619
Name: year, dtype: int64

### Cleaning Data

In [9]:
# Delete unecessary Columns
olympics = olympics.drop(['description','special_notes'], axis=1)

In [10]:
olympics.head()

,athlete_id,name,sex,born,height,weight,country,country_noc_x,edition,sport,event,result_id,medal,isTeamSport,result_participants,year,city,country_noc_y
0,14503,scar Giraldo,Male,1973-04-13,na,na,Colombia,COL,1996 Summer Olympics,Cycling Road,"Road Race, Individual, Men",154878,na,False,183 from 57 countries,1996.0,Atlanta,USA
1,58758,Hossein Mollaghasemi,Male,1933-03-15,173.0,63,Islamic Republic of Iran,IRI,1960 Summer Olympics,Wrestling,"Featherweight, Greco-Roman, Men",124658,na,False,25 from 25 countries,1960.0,Roma,ITA
2,58758,Hossein Mollaghasemi,Male,1933-03-15,173.0,63,Islamic Republic of Iran,IRI,1964 Summer Olympics,Wrestling,"Lightweight, Greco-Roman, Men",125396,na,False,19 from 19 countries,1964.0,Tokyo,JPN
3,90217,Enrico Lazzarotto,Male,1973-01-14,178.0,72,Italy,ITA,2000 Summer Olympics,Canoe Slalom,"Kayak Singles, Slalom, Men",256271,na,False,23 from 18 countries,2000.0,Sydney,AUS
4,74565,John Hou,Male,1968-09-25,178.0,60,Papua New Guinea,PNG,1988 Summer Olympics,Athletics,"100 metres, Men",63261,na,False,102 from 69 countries,1988.0,Seoul,KOR

In [11]:
#Need to Add to py file
olympics.medal.replace('na','participant',inplace=True)

In [12]:
olympics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 314725 entries, 0 to 314724
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   athlete_id           314725 non-null  int64
 1   name                 314725 non-null  object
 2   sex                  314725 non-null  object
 3   born                 314725 non-null  object
 4   height               314725 non-null  object
 5   weight               314725 non-null  object
 6   country              314725 non-null  object
 7   country_noc_x        314725 non-null  object
 8   edition              314725 non-null  object
 9   sport                314725 non-null  object
 10  event                314725 non-null  object
 11  result_id            314725 non-null  int64
 12  medal                314725 non-null  object
 13  isTeamSport          314725 non-null  bool
 14  result_participants  314621 non-null  object
 15  year                 314402 non-null  float64
 16  city                 314402 non-null  object
 17  country_noc_y        314402 non-null  object
dtypes: bool(1), float64(1), int64(2), object(14)
memory usage: 43.5+ MB

In [13]:
olympics.height.value_counts()

na       86687
180.0    13568
170.0    12776
178.0    11531
175.0    11161
         ...
226.0        3
219.0        2
130.0        2
131.0        2
128.0        1
Name: height, Length: 96, dtype: int64

In [23]:
#df['Horsepower'] = df['Horsepower'].replace('?', np.mean(pd.to_numeric(df['Horsepower'], errors='coerce')))
olympics['height']=olympics['height'].replace('na',np.mean(pd.to_numeric(olympics['height'], errors='coerce'))).astype('float')
olympics['weight']=olympics['weight'].replace('na',np.mean(pd.to_numeric(olympics['weight'], errors='coerce'))).astype('float')
#olympics['born']=olympics['born'].replace('na','NAN')
olympics.head()

ValueError: could not convert string to float: '166-187'

In [15]:
olympics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 314725 entries, 0 to 314724
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   athlete_id           314725 non-null  int64
 1   name                 314725 non-null  object
 2   sex                  314725 non-null  object
 3   born                 314725 non-null  object
 4   height               314725 non-null  object
 5   weight               314725 non-null  object
 6   country              314725 non-null  object
 7   country_noc_x        314725 non-null  object
 8   edition              314725 non-null  object
 9   sport                314725 non-null  object
 10  event                314725 non-null  object
 11  result_id            314725 non-null  int64
 12  medal                314725 non-null  object
 13  isTeamSport          314725 non-null  bool
 14  result_participants  314621 non-null  object
 15  year                 314402 non-null  float64
 16  city                 314402 non-null  object
 17  country_noc_y        314402 non-null  object
dtypes: bool(1), float64(1), int64(2), object(14)
memory usage: 43.5+ MB

In [16]:
# Add to py file
olympics['born'].str.strip()

0         1973-04-13
1         1933-03-15
2         1933-03-15
3         1973-01-14
4         1968-09-25
             ...
314720    1941-05-06
314721    1941-05-06
314722    1941-05-06
314723    1941-05-06
314724    1941-05-06
Name: born, Length: 314725, dtype: object

In [17]:
# To. py file
olympics['born'] = pd.to_datetime(olympics['born'], errors='ignore', format="%Y-%m-%d")

In [18]:
# To .py File
#olympics['edition'] = olympics['edition'].str[4:]
olympics['event_year'] = olympics['edition'].str[:4]
olympics['edition']=olympics['edition'].str[4:]
olympics.drop(columns='year')

,athlete_id,name,sex,born,height,weight,country,country_noc_x,edition,sport,event,result_id,medal,isTeamSport,result_participants,city,country_noc_y,event_year
0,14503,scar Giraldo,Male,1973-04-13,175.369167,70.577756,Colombia,COL,Summer Olympics,Cycling Road,"Road Race, Individual, Men",154878,participant,False,183 from 57 countries,Atlanta,USA,1996
1,58758,Hossein Mollaghasemi,Male,1933-03-15,173.0,63,Islamic Republic of Iran,IRI,Summer Olympics,Wrestling,"Featherweight, Greco-Roman, Men",124658,participant,False,25 from 25 countries,Roma,ITA,1960
2,58758,Hossein Mollaghasemi,Male,1933-03-15,173.0,63,Islamic Republic of Iran,IRI,Summer Olympics,Wrestling,"Lightweight, Greco-Roman, Men",125396,participant,False,19 from 19 countries,Tokyo,JPN,1964
3,90217,Enrico Lazzarotto,Male,1973-01-14,178.0,72,Italy,ITA,Summer Olympics,Canoe Slalom,"Kayak Singles, Slalom, Men",256271,participant,False,23 from 18 countries,Sydney,AUS,2000
4,74565,John Hou,Male,1968-09-25,178.0,60,Papua New Guinea,PNG,Summer Olympics,Athletics,"100 metres, Men",63261,participant,False,102 from 69 countries,Seoul,KOR,1988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314720,30727,Armando Valles,Male,1941-05-06,170.0,68,Mexico,MEX,Summer Olympics,Artistic Gymnastics,"Horse Vault, Men",70306,participant,False,116 from 28 countries,Ciudad de México,MEX,1968
314721,30727,Armando Valles,Male,1941-05-06,170.0,68,Mexico,MEX,Summer Olympics,Artistic Gymnastics,"Parallel Bars, Men",70309,participant,False,117 from 28 countries,Ciudad de México,MEX,1968
314722,30727,Armando Valles,Male,1941-05-06,170.0,68,Mexico,MEX,Summer Olympics,Artistic Gymnastics,"Horizontal Bar, Men",70312,participant,False,115 from 27 countries,Ciudad de México,MEX,1968
314723,30727,Armando Valles,Male,1941-05-06,170.0,68,Mexico,MEX,Summer Olympics,Artistic Gymnastics,"Rings, Men",70315,participant,False,117 from 28 countries,Ciudad de México,MEX,1968
314724,30727,Armando Valles,Male,1941-05-06,170.0,68,Mexico,MEX,Summer Olympics,Artistic Gymnastics,"Pommelled Horse, Men",70318,participant,False,115 from 27 countries,Ciudad de México,MEX,1968

In [19]:
olympics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 314725 entries, 0 to 314724
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   athlete_id           314725 non-null  int64
 1   name                 314725 non-null  object
 2   sex                  314725 non-null  object
 3   born                 314725 non-null  object
 4   height               314725 non-null  object
 5   weight               314725 non-null  object
 6   country              314725 non-null  object
 7   country_noc_x        314725 non-null  object
 8   edition              314725 non-null  object
 9   sport                314725 non-null  object
 10  event                314725 non-null  object
 11  result_id            314725 non-null  int64
 12  medal                314725 non-null  object
 13  isTeamSport          314725 non-null  bool
 14  result_participants  314621 non-null  object
 15  year                 314402 non-null  float64
 16  city                 314402 non-null  object
 17  country_noc_y        314402 non-null  object
 18  event_year           314725 non-null  object
dtypes: bool(1), float64(1), int64(2), object(15)
memory usage: 45.9+ MB

In [20]:
olympics.head()

,athlete_id,name,sex,born,height,weight,country,country_noc_x,edition,sport,event,result_id,medal,isTeamSport,result_participants,year,city,country_noc_y,event_year
0,14503,scar Giraldo,Male,1973-04-13,175.369167,70.577756,Colombia,COL,Summer Olympics,Cycling Road,"Road Race, Individual, Men",154878,participant,False,183 from 57 countries,1996.0,Atlanta,USA,1996
1,58758,Hossein Mollaghasemi,Male,1933-03-15,173.0,63,Islamic Republic of Iran,IRI,Summer Olympics,Wrestling,"Featherweight, Greco-Roman, Men",124658,participant,False,25 from 25 countries,1960.0,Roma,ITA,1960
2,58758,Hossein Mollaghasemi,Male,1933-03-15,173.0,63,Islamic Republic of Iran,IRI,Summer Olympics,Wrestling,"Lightweight, Greco-Roman, Men",125396,participant,False,19 from 19 countries,1964.0,Tokyo,JPN,1964
3,90217,Enrico Lazzarotto,Male,1973-01-14,178.0,72,Italy,ITA,Summer Olympics,Canoe Slalom,"Kayak Singles, Slalom, Men",256271,participant,False,23 from 18 countries,2000.0,Sydney,AUS,2000
4,74565,John Hou,Male,1968-09-25,178.0,60,Papua New Guinea,PNG,Summer Olympics,Athletics,"100 metres, Men",63261,participant,False,102 from 69 countries,1988.0,Seoul,KOR,1988

In [21]:
olympics['height'].astype(int)

ValueError: invalid literal for int() with base 10: '173.0'

In [ ]:
olympics.head()

In [ ]:
# WOrking
# olympics['age'] = olympics.year-olympics.born

In [ ]:
olympics['height']=olympics['height'].astype('int')
olympics['year']=olympics['year'].astype('int')

In [ ]:
# # Changes and updates:
# # Change Born to date format
# olympics['born'] = pd.to_datetime(olympics['born'], errors='ignore', format="%Y-%m-%d")
# # Building event_year because 'year' has missing values
# olympics['event_year'] = olympics['edition'].str[:4]
# # Pull year off edition
# olympics['edition']=olympics['edition'].str[4:]
# # Cleared 'year' due to missing values
# olympics.drop(columns='year')
# # Height Change to int.
# # Edition - Take off year
# olympics['edition'] = olympics['edition'].str[4:]
# # Medal - Change na to participant
# olympics.medal.replace('na','participant',inplace=True)
# # Year - Take off decimal

In [ ]:
# Added Features
# Age at time of olympics
# FromHostCountry
# Need to Add Coutry of olympics

In [ ]:
# Find 2020 Total Number of medals vs number of athletes 
# Classification= Did athlete medal
# LR : number of medals by country/year
# Time Series: lm by

In [ ]:
mt.head()

In [ ]:
# Need to find LR